<div class="text-center">
  <h1>Y - the best at telling you what and y</h1>
  <p class="lead"> We now y things happen</p>
  <p> 
  We love to focus on why thing happen, thats why we use Y as our brand. 
  </p>
  <p>
  Also you might have heard of our competition we are almost the same, but we took the bad leg (X -> Y) (bots)
  </p>
</div>
# Test
